# .env.example
APP_PORT=your_app_port
DB_CONECTION_STRING=your_db_conection_string
CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name